.home-container {
  background-image: url("/image-2.jpg");
  background-size: cover;
  background-position: bottom;
  height: 500px;
  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-left {
  text-align: center;
  padding-bottom: 0;
}

.text-1 {
  font-size: 60px;
}

.text-2 {
  background-color: orange;
  border-radius: 50%;
  width: fit-content;
  padding: 10px;
  margin: auto;
  font-size: xx-large;
}

.text-3 {
  font-size: 40px;
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

.text-4 {
  background-color: white;
  padding: 5px 15px;
  color: blue;
  width: fit-content;
  margin: auto;
  border: 1px solid blue;
}

.imggg {
  width: 100px;
  object-fit: cover;
}

.gad {
  width: 400px;
}

@media screen and (max-width: 959px) {
  .home-container {
    grid-template-columns: 1fr;
    height: 100%;
    row-gap: 0;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .text-2 {
    background-color: orange;
    border-radius: 50%;
    width: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: -20px;
    font-size: xx-large;
  }

  .home-right {
    width: fit-content;
  }

  .text-3 {
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
  }

  .imggg {
    width: 50px;
    object-fit: cover;
  }

  .gad {
    width: 300px;
  }

  .home-right {
    display: none;
  }

}